@font-face {
    font-family:"CMU-UI";
    src:url("../fonts/cmunss.woff") format("woff"),url("../fonts/cmunui.woff") format("woff"),url("../fonts/cmunui.ttf") format("truetype");
    font-style:normal;font-weight:400;
}

@font-face {
    font-family:"CMU-Sans-Serif";
    src:url("../fonts/cmunss.woff") format("woff"),url("../fonts/cmunrm.woff") format("woff"),url("../fonts/cmunrm.ttf") format("truetype");
    font-style:normal;font-weight:400;
}

@font-face {
    font-family:"CMU-Sans-Serif";
    src:url("../fonts/cmunss.woff") format("woff"),url("../fonts/cmunti.woff") format("woff"),url("../fonts/cmunti.ttf") format("truetype");
    font-style:italic;font-weight:400;
}

@font-face {
    font-family:"CMU-Sans-Serif";
    src:url("../fonts/cmunss.woff") format("woff"),url("../fonts/cmunbx.woff") format("woff"),url("../fonts/cmunbx.ttf") format("truetype");
    font-style:normal;font-weight:600;
}

@font-face {
    font-family:"CMU-Sans-Serif";
    src:url("../fonts/cmunss.woff") format("woff"),url("../fonts/cmunbi.woff") format("woff"),url("../fonts/cmunbi.ttf") format("truetype");
    font-style:italic;font-weight:400;
}
