@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .border-grid-2:nth-of-type(1) {
      @apply border-r border-b border-l;
    }

    .border-grid-2:nth-of-type(2) {
      @apply border-r border-b;
    }

    .border-grid-2:nth-of-type(3) {
      @apply border-r border-b border-l;
    }

    .border-grid-2:nth-of-type(4) {
      @apply border-r border-b;
    }

    .border-grid-2:nth-of-type(5) {
      @apply border-r border-l;
    }

    .border-grid-2:nth-of-type(6) {
      @apply border-r;
    }

    .border-grid-3:nth-of-type(1) {
      @apply border-r border-b border-l;
    }

    .border-grid-3:nth-of-type(2),
    .border-grid-3:nth-of-type(3) {
      @apply border-r border-b border-l-0;
    }

    .border-grid-3:nth-of-type(4) {
      @apply border-r border-l;
    }

    .border-grid-3:nth-of-type(5),
    .border-grid-3:nth-of-type(6) {
      @apply border-r border-l-0;
    }
  }
}

body {
  font-family: 'GTA-Exp', 'Helvetica', 'Arial', sans-serif;
}

.f-serif {
  font-family: 'PT', 'Times New Roman', serif;
}

.button {
  @apply uppercase inline-block text-center py-3 text-xl rounded-full;
  width: 320px;
}

p + p {
  @apply mt-3;
}

@media (prefers-color-scheme: dark) {
  body {
    @apply bg-dark text-light;
  }

  .fill {
    fill: #fff1f1;
  }

  .button {
    @apply bg-light text-dark;
  }
}

@media (prefers-color-scheme: light) {
  body {
    @apply bg-light text-dark;
  }

  .button {
    @apply bg-dark text-light;
  }
}
